# .NET / Visual Studio
bin/
obj/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Publish profiles
Properties/PublishProfiles/
*.pubxml
*.pubxml.user

# macOS
.DS_Store

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/

# NuGet
*.nuget.props
*.nuget.targets

# Other common
artifacts/
.nuget/
tools/*
!tools/packages.config

# Own
PublishOSX.command
BuildOSX.command
CreateUniversal.command
CleanPublish.command